<p id="notice"><%= notice %></p>

<div class="users-container">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Is admin?:</strong>
    <%= @user.is_admin %>
  </p>


  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>