<h3><%= link_to 'user page', users_path %> | <%= link_to 'filter page', filter_page_path %> | <%= link_to 'profile page', profile_path %></h3>

  <!--Commenting sucks. # before every instance of ruby code.-->

  <!-- recursive alternative
  <#% @imdb250.each do |imdb250| %>
      <div class="col s4">
        <img src="<#%= imdb250.imageurl %>" style="width:100%;height:100%;">
        <h3 class="center-align"><#%= imdb250.title %></h3>
      </div>
  <#% end %>
  -->

<!-- recursive alternative with helper
  <#% @imdb250.each do |imdb250| %>
      <div class="col s4">
        <img src="<#%= helper.getImageUrl %>" style="width:100%;height:100%;">
        <h3 class="center-align"><#%= helper.getTitle %></h3>
      </div>
  <#% end %>
  -->

  <!-- non-recursive alternative
  <div class="col s4">
    <img src="<#%= imdb250.image %>" style="width:100%;height:100%;">
    <h3 class="center-align"><#%= imdb250.title %></h3>
  </div>
  -->

<div class="row">
  <% url = "https://images-na.ssl-images-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SY1000_CR0,0,671,1000_AL_.jpg" %>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
  <div class="col s4">
    <img src= <%= url %> style="width:100%;height:100%;">
    <h3 class="center-align">Movie title</h3>
  </div>
</div>