<div id="login-modal" class="modal small">
  <div class="modal-content">

    <%= form_tag(create_session_path) do %>
        <fieldset>
          <legend>Login</legend>

          <div class="input-field col s12">
            <%= label_tag :name, 'Name:' %>
            <%= text_field_tag :name, params[:name] %>
          </div>

          <div class="input-field col s12">
            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, params[:password] %>
          </div>

          <div>
            <%= submit_tag "Login", {class: "modal-action modal-close waves-effect waves-light btn-flat"} %>
          </div>
        </fieldset>
        <%= link_to 'Click here to create a new account', new_user_path %>
    <% end %>

  </div>
</div>