<!DOCTYPE html>
<html>
  <head>
    <title>Rmdb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Include nav on every page -->
    <%= render 'nav/nav' %>
    <div class="container">
        <%= yield %>
    </div>
    <!-- Load JS after HTML -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
